/**
 * Default attributes for gadget body.
 */
body {
    background: none transparent;
    padding: 0px;
}
#displayOut {
    width:100%;
    height:100%;
    border: 1px solid;
}

#FileFrame
{
    position: relative;
    height: 100%;
    width: 100%; 
	border: 0;
}